JUNIO/ej3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="relacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="persona">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="email" type="xs:string" />
              <xs:element minOccurs="0" name="parentesco">
                <xs:complexType>
                  <xs:attribute name="tipo" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="sexo" type="xs:string" use="optional" />
            <xs:attribute name="carnet" type="xs:string" use="required">
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



  <xs:simpleType name="email">
    <xs:restriction base="xs:string">
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parentesco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hijo"/>
      <xs:enumeration value="Hija"/>
      <xs:enumeration value="Padre"/>
      <xs:enumeration value="Madre"/>
      <xs:enumeration value="Otro"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="carnet">
      <xs:restriction base="xs:string">
          <xs:pattern value="[XYZ][0-9][0-9][0-9][0-9]"/>
      </xs:restriction>
  </xs:simpleType>

</xs:schema>